<?xml version="1.0"?>
<!--
/**
 * Medvslav_News2 extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Medvslav
 * @package        Medvslav_News2
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Medvslav_News2>
            <version>1.0.0</version>
        </Medvslav_News2>
    </modules>
    <global>
        <resources>
            <medvslav_news2_setup>
                <setup>
                    <module>Medvslav_News2</module>
                    <class>Medvslav_News2_Model_Resource_Setup</class>
                </setup>
            </medvslav_news2_setup>
        </resources>
        <blocks>
            <medvslav_news2>
                <class>Medvslav_News2_Block</class>
            </medvslav_news2>
        </blocks>
        <helpers>
            <medvslav_news2>
                <class>Medvslav_News2_Helper</class>
            </medvslav_news2>
        </helpers>
        <models>
            <medvslav_news2>
                <class>Medvslav_News2_Model</class>
                <resourceModel>medvslav_news2_resource</resourceModel>
            </medvslav_news2>
            <medvslav_news2_resource>
                <class>Medvslav_News2_Model_Resource</class>
                <entities>
                    <author>
                        <table>medvslav_news2_author</table>
                    </author>
                    <newscategory>
                        <table>medvslav_news2_newscategory</table>
                    </newscategory>
                    <article>
                        <table>medvslav_news2_article</table>
                    </article>
                    <author_store>
                        <table>medvslav_news2_author_store</table>
                    </author_store>
                    <newscategory_store>
                        <table>medvslav_news2_newscategory_store</table>
                    </newscategory_store>
                    <article_store>
                        <table>medvslav_news2_article_store</table>
                    </article_store>
                    <article_product>
                        <table>medvslav_news2_article_product</table>
                    </article_product>
                    <article_category>
                        <table>medvslav_news2_article_category</table>
                    </article_category>
                    <article_comment>
                        <table>medvslav_news2_article_comment</table>
                    </article_comment>
                    <article_comment_store>
                        <table>medvslav_news2_article_comment_store</table>
                    </article_comment_store>
                </entities>
            </medvslav_news2_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <medvslav_news2>
                    <file>medvslav_news2.xml</file>
                </medvslav_news2>
            </updates>
        </layout>
        <translate>
            <modules>
                <Medvslav_News2>
                    <files>
                        <default>Medvslav_News2.csv</default>
                    </files>
                </Medvslav_News2>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <medvslav_news2_article_product>
                        <type>singleton</type>
                        <class>medvslav_news2/adminhtml_observer</class>
                        <method>addProductArticleBlock</method>
                    </medvslav_news2_article_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <medvslav_news2_article_category>
                        <type>singleton</type>
                        <class>medvslav_news2/adminhtml_observer</class>
                        <method>addCategoryArticleBlock</method>
                    </medvslav_news2_article_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <medvslav_news2_article_product>
                        <type>singleton</type>
                        <class>medvslav_news2/adminhtml_observer</class>
                        <method>saveProductArticleData</method>
                    </medvslav_news2_article_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <medvslav_news2_article_category>
                        <type>singleton</type>
                        <class>medvslav_news2/adminhtml_observer</class>
                        <method>saveCategoryArticleData</method>
                    </medvslav_news2_article_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <author>
                <class>medvslav_news2/adminhtml_search_author</class>
                <acl>medvslav_news2</acl>
            </author>
            <article>
                <class>medvslav_news2/adminhtml_search_article</class>
                <acl>medvslav_news2</acl>
            </article>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Medvslav_News2 before="Mage_Adminhtml">Medvslav_News2_Adminhtml</Medvslav_News2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <medvslav_news2>
                        <class>medvslav_news2/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </medvslav_news2>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <medvslav_news2>
                <use>standard</use>
                <args>
                    <module>Medvslav_News2</module>
                    <frontName>medvslavnews2</frontName>
                </args>
            </medvslav_news2>
        </routers>
        <layout>
            <updates>
                <medvslav_news2>
                    <file>medvslav_news2.xml</file>
                </medvslav_news2>
            </updates>
        </layout>
        <translate>
            <modules>
                <Medvslav_News2>
                    <files>
                        <default>Medvslav_News2.csv</default>
                    </files>
                </Medvslav_News2>
            </modules>
        </translate>
    </frontend>
    <default>
        <medvslav_news2>
            <author>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Authors</meta_title>
            </author>
            <newscategory>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Nescategories</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </newscategory>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Articles</meta_title>
            </article>
        </medvslav_news2>
    </default>
</config>
